[submodule "third_party/minhook"]
	path = third_party/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "third_party/miniz"]
	path = third_party/miniz
	url = https://github.com/tfussell/miniz-cpp
